.currentUserInfoContainer {
  .groupUserList {
    .user,
    .userSelected {
      cursor: pointer;
      &:hover {
        background: #f8f8f8;
      }
    }
  }

  .changeGroupConfirmButton {
    font-weight: normal;
    font-size: 18px;
  }

  .textButton {
    margin-top: 10px;
    width: 100%;
  }

  .currentUserInfoItem {
    text-align: left;

    h4 {
      margin: 10px auto;
      padding: 10px;
      background: #ededed;
    }

    > div {
      padding: 10px;
    }

    .makeAdminButton {
      padding-top:0;

      .buttonAsText {
        font-size: 16px;
        text-decoration: underline;
        padding: 0;
      }
    }

    .adminPopup {
      z-index: 100000;
    }
  }

  .adminUserListItem {
    display: grid;
    grid-template-columns: 1fr 1fr min-content;
    text-align: right;
    padding-bottom: 12px;

    .name {
      font-weight: 600;
    }

    input {
      cursor: pointer;
    }
  }
}
