$thumbnailImageWidth: 50px;

.wishlistListingItemEven {
    background: #f1f1f1;


}

.wishlistListingItemOdd {
    background: var(--electric-blue);
}
.wishlistListingItemEven,
.wishlistListingItemOdd {
    display: grid;
    grid-template-columns: 50px 1fr min-content;
    padding: 10px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-top: -1px;
    cursor: pointer;
    align-items: center;
    box-sizing: border-box;
    position: relative;

    &:hover {
        filter: brightness(90%);
        .deleteButton {
            display: grid;
        }
    }

    .imageThumbnail {
        width: 100%;
        max-width: $thumbnailImageWidth;
        max-height: $thumbnailImageWidth;
    }

    .name {
        margin: 0 10px
    }

    .price {
        white-space: nowrap;
    }

    .deleteButton {
        display: none;
        position: absolute;
        right: 10px;
        border-radius: 5px;
        background: var(--delete-red);
        height: 40px;
        width: 40px;
        align-items: center;
        justify-content: center;

        .iconButton {

        }
    }


}
