.myAccountPopupContainer {
    z-index: 12;
    .myAccountPopupBackground {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #62626277;
    }

    .myAccountPopupContent {
        position: fixed;
        top: 10%;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 80%;
        width: 90%;
        background: white;
        box-sizing: border-box;
        border-radius: 5px;
        box-shadow: 1px 1px 10px #6f6f6f;
        text-align: center;
        padding-bottom: 50px;

        display: grid;
        grid-template-columns: 300px 1fr;

        > div {
            padding: 20px;
        }

        .myAccountPopupScrollingContainer {
            height: 100%;
            overflow-y: auto;
            padding-bottom: 25px;
            box-sizing: border-box;
        }
    }

    .myAccountFormInput {
        margin-bottom: 10px;

        label {
            padding: 10px;
            font-size: 18px;
            display: block;
        }
    }

    .accountInput {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

    .addUsersContainer {

        .addListItemInput {
            margin-bottom: 0;
        }

        .addUsersTitle {
            padding: 10px;
            font-size: 20px;
            margin: 0;
        }

        .addUsersInput {
            position: relative;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .removeUserButton {
            background: none;
            border: none;
            position: absolute;
            right: 2px;
            top: 8px;
            height: 100%;
            color: #db3939;

            .iconButton {
                color: #db3939;
            }
        }

        .addAnotherUserButton {
            background: none;
            border: none;
            font-size: 16px;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .addSubUserContainer {
        .addSubUserInput {
            margin-bottom: 10px;

            label {
                padding: 10px;
                display: block;
                font-size: 18px;
            }

            input {
                padding: 10px;
                font-size: 18px;
                display: block;
                width: 100%;
                box-sizing: border-box;
            }
        }
    }

    .groupUserList {
        margin-top: 30px;

        h3,
        h4{
            margin: 0;
            padding: 20px;
            background: #f1f1f1;
        }
    }

    .switchToMainAccountButton {
        .textButton {
            margin: 10px auto;
        }
    }

    .subUsersList,
    .userList,
    .groupUserList {
        border: 2px solid var(--electric-blue);
        .subUser,
        .user,
        .userSelected,
        .subUserActive{
            width: 100%;
            position: relative;
            height: 40px;
            display: grid;
            align-items: center;

            &:nth-child(odd) {
                background: var(--electric-blue);
            }

            &.userSelected {
                outline: 3px solid var(--theme-red);
                outline-offset: -3px;
            }

            .iconButton {
                position: absolute;
                right: 0;
                top: 7px;
            }

            &.subUserActive {
                outline: 3px solid var(--theme-red);
                outline-offset:-3px;
            }
        }


    }

    .viewEditSubList {
        position: absolute;
        right: 70px;
        top: 0;
        .buttonAsText {
            font-size: 15px;


            &:hover {
                text-decoration: underline;
            }
        }
    }
}
