.headerContainer {
    display: grid;
    grid-template-columns: min-content 1fr min-content min-content min-content min-content min-content;
    padding: 5px;
    grid-gap: 10px;
    max-width: 1600px;
    margin: 0 auto;


    .signOutButton {
        .buttonAsText {
            font-size: 16px;
        }
    }

    .userNameSection {
        margin: 0 auto;
    }

    .switchToMainUserButton {
        text-decoration: underline;
    }

    .myAccountButton {
        font-size: 16px;
        white-space: nowrap;
        display: grid;
        align-items: center;
        padding: 0 10px
    }
}
