.dashboardContainer {
    display: grid;
    grid-template:
            "title title title"
            "left center right";
    grid-template-columns: 1fr 900px minMax(300px, 1fr);

    .wishlistListing {
        grid-area: right;
    }

    .visibleWishlistItem {
        grid-area: center;
    }

    .leftColumn {
        grid-area: left;
    }

    .dashboardTitle {
        grid-area: title;
        text-align: center;
        border-bottom: 1px solid black;
        padding-bottom: 20px;
    }

    .wishlistCommentsContainer {
        grid-column: 1 /span 3;
        background: white;
        margin: 50px;
        border-radius: 10px;
        box-shadow: var(--largeBoxShadow);
    }
}


