.moneyModalContents {
    padding: 10px;
    padding-top: 35px;

    .amountOwedInputContainer {
        @media only screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr min-content 1fr 1fr;
            grid-gap: 20px;
            padding: 20px;
        }

        > div {
            display: grid;
            grid-template-columns: 1fr;
            font-size: 16px;

            label {
                padding: 10px;
            }

            input {
                padding: 10px;
                box-sizing: border-box;
                text-align: center;
                font-size: 16px;

                @media only screen and (min-width: 768px) {
                    margin: 0 10px;

                }

            }
        }

        .arrow {
            margin-top: auto;
            margin-bottom: 10px;
            display: none;

            @media only screen and (min-width: 768px) {
                display: block;

            }
        }
    }

    .amountOwedRendered {
        padding: 30px 10px;
        font-size: 20px;
        font-weight: 600;
    }

    .comment {
        grid-column: 1 / span 5;
        text-align: left;
        border-top: 1px solid #dedede;
        padding: 2px;

        > span {
            font-weight: bold;
        }

        input.commentInput {
            width: 100%;
        }
    }

    .submitMonies {
        .textButton {
            margin: 0 auto;
            width: 400px;
            max-width: 100%;
        }
    }
}
