.largeWishlistItemContainer {
    display: grid;
    grid-template:
            "nameContainer nameContainer"
            "image extras"
            "image notes"
            "image information"
            "image actionButtons"
            "comments comments";


    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content min-content 1fr min-content;
    padding: 20px;
    padding-top: 0;
    column-gap: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 8px grey;
    margin: 0 20px;

    .electricBlue {
        background: var(--electric-blue);
    }

    .nameContainer {
        grid-area: nameContainer;
        display: grid;
        grid-template-columns: 1fr 175px;
        border-bottom: 1px solid #e0e0e0;


        .name {
            margin: 30px 0 20px 0;
        }
    }

    .commentsContainer {
        grid-area: comments;
    }

    .wantsToGet,
    .getting{
        overflow: hidden;
        h3 {
            margin: 5px 0;
        }
        .wantsToGetList,
        .gettingList{
            width: 100%;
            float: left;
            .wantsToGetPerson,
            .gettingPerson{
                background: var(--mimi-pink);
                padding: 0 20px;
                height: 24px;
                border-radius: 12px;
                font-size: 13px;
                display: grid;
                align-items: center;
                justify-content: center;
                float: left;
                margin: 5px;

                &.gettingPerson {
                    background: var(--electric-blue)
                }
            }
        }

    }

    .imagesContainer {
        grid-area: image;
        .primaryImage {
            aspect-ratio: 1/1;
            display: grid;
            align-items: center;

            img {
                width: 100%;
                box-shadow: 1px 1px 4px grey;
            }
        }

        .imageList {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 5px;
            margin-top: 10px;

            .imageListItem,
            .imageListItemSelected {
                width: 100%;
                background: #d2d2d2;
                box-shadow: 1px 1px 3px #909090;
                cursor: pointer;
                box-sizing: border-box;
                display: grid;
                align-items: center;

                &Selected {
                    border: 2px solid #0f7235;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    .notes {
        grid-area: notes;
        padding: 10px;
        border-bottom: 1px solid #e0e0e0;

        h4 {
            margin: 5px 0;
        }
    }

    .information {
        grid-area: information;
        padding: 10px;
        border-bottom: 1px solid #e0e0e0;
        font-size: 18px;
        letter-spacing: 0.6px;

        .link {
            font-size: 0.9em;
            color: var(--link-blue);
            margin-top: 10px;
            display: block;

            &:hover {
                text-shadow: 0 0 1px #8d8db8;
            }
        }


        .priceContainer {


            h4 {
                margin: 5px 0;
            }
        }
    }

    .extras {
        grid-area: extras;
        padding: 10px;
        min-height: 150px; // so that things don't shift when people get or want to get
    }

    .actionButtons {
        grid-area: actionButtons;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
        padding: 10px;
        margin-bottom: auto;

        .iconButton {
            background: var(--light-green);
            border-radius: 5px;
            height: 50px;
            width: 100%;
            min-width: 50px;
        }

        .selected {
            .iconButton {
                outline: 3px solid var(--theme-red);
                outline-offset: -3px;
            }
        }

        .deleteButton {
            .iconButton {
                background: var(--theme-red);
            }
        }
    }
}
