.yourGroupContainer {


    @media only screen and (min-width: 768px) {
        padding: 20px;
    }
    .groupName {
        font-size: 1.5em;
        font-weight: 700;
        letter-spacing: 0.7px;
    }

    .editNameSection {
        display: grid;
        grid-template-columns: 1fr;
        text-align: left;
        justify-content: left;
        max-width: 350px;

        input {
            padding: 5px;
            margin: 10px 0;
            border-radius: 5px;
            box-shadow: var(--smallBoxShadow)
        }

        button {
            background: var(--primary-color);
            color: white;
            border-radius: 5px;
            padding: 5px;
            letter-spacing: 0.7px;
            font-weight: 600;
            @media only screen and (max-width: 767px) {
                grid-area: delete;
            }


            &:hover {
                filter: brightness(90%);
            }
        }
    }

    .groupUsersSection {
        h3 {
            font-weight: bold;
            font-size: 1.1em;
            margin: 0;
            padding: 10px;
        }

        .themeList {
            > div {
                grid-template-columns: 1fr 46px;
                @media only screen and (max-width: 767px) {
                    grid-template-areas: "name delete"
                            "admin delete";
                }


                @media only screen and (min-width: 768px) {
                    grid-template-columns: 1fr min-content 46px;
                }
            }

            .makeAdmin {
                @media only screen and (max-width: 767px) {
                    grid-area: admin;
                }

                button {
                    white-space: nowrap;
                    font-size: 0.9em;
                    text-decoration: underline;
                }
                min-width: 105px;
            }
        }

        .groupUserItem {
            @media only screen and (max-width: 767px) {
                grid-area: name;
            }

            white-space: nowrap;
            overflow: hidden;
            display: flex;

            .userDisplayName {
                overflow: hidden;
                text-overflow: ellipsis;
            }

            @media only screen and (min-width: 768px) {
                padding-left: 105px; // to make them more centered because of the makeAdmin button width.
                justify-content: center;

            }
        }
    }

    .inviteUserSection {
        display: grid;
        grid-template-columns: 1fr;

        h3 {
            font-weight: bold;
            font-size: 1.1em;
            margin: 0;
            padding: 10px 0;
        }

        p {
            font-size: .9em;
        }

        margin-top: 30px;
    }

    .adminIcon {
        padding-left: 10px;
        color: var(--theme-red);
    }

    .adminLegend {
        display: grid;
        grid-template-columns: min-content min-content;
        white-space: nowrap;
        font-size: 0.9em;
        color: #2c2c2c;
        align-items: center;
        padding-top: 10px;
        font-style: italic;
    }
}
